<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />     
    </startup>
    <appSettings>
      <add key="FileNamePPMCatalog" value=".\catalog\heasarc_ppm.tdat" />
      <add key="FileNameNames" value=".\catalog\names.tdat" />
      <add key="Plot" value="..\..\..\Plot\bin\Debug\Plot.exe" />
    </appSettings>
</configuration>